Config(
	//You probably want to change the follwoing options
	//File Paths
	path_to_bin_target:                     "lua.bin",
	arguments: 				[ "@@"],		//"@@" will be exchanged with the path of a file containing the current input

	path_to_grammar:                        "lua.py",
	path_to_workdir:                        "work_dir",
	path_to_bin_target_with_cov:			"lua-cov/src/lua",
	path_to_src:							"lua-cov/src",


	number_of_threads:			1,
	timeout_in_millis:			2000,
	addr:						"10.160.151.234:8071",


	//The rest of the options are probably not something you want to change... 
	//Forkserver parameter
	bitmap_size:				65536, 		//1<<16

	//Thread Settings:
	thread_size: 				4194304,

	show_coverage: 				false,		//show the coverage of the target program
	hide_output: 				true, 		//hide stdout of the target program. Sometimes usefull for debuging
	//Mutation Settings
	number_of_generate_inputs:	100,		//see main.rs fuzzing_thread 
	max_tree_size:				1000, 		//see state.rs generate random
	number_of_deterministic_mutations:	1,	//see main.rs process_input

)
